*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: #e2e6e6;
}
header{
    height:60px;
    background-color:#131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logocontainer{
    margin-left:2%;
    border: 1px solid transparent;
}
.logo img{
    height: 30px;
    padding:12px 5px 5px 5px;
}
.directioncontainer{
    display: flex;
    border: 1px solid transparent;
}
.direction{
    padding-top:18px;
    padding-right: 0px;
}
.deliver {
    display: flex;
    flex-direction: column;
    padding:6px;
}
.searchaction{
    display: flex;
    width: 50%;
}
.display{
    background-color: rgb(249, 245, 245);
    padding: 10px 20px 8px 20px ;
    border-radius: 5px 0px 0px 5px ;
}
.textbox{
    flex-grow: 1;
    height:44px;
    border: none;
    font-size: 15px;
}
.searchicon{
    padding:10px;
    background-color:rgb(255, 162, 0);
    border-radius: 0px 5px 5px 0px ;
}
.actionbar{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
    color: white;
}
.actionbar a{
    text-decoration: none;
    color: white;
}
.login{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid transparent;
}
.language{
    padding: 8px;
    border: 1px solid transparent;
}
.language img{
    height: 10px;
    margin-right: 5px;   
}
.return{
    display:flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid transparent;
}
.cartcontainer{
    margin-right: 2%;
    display: flex;
    padding: 5px;
    border: 1px solid transparent;
}
.cart{
    padding-top: 10px;
    color: white;
}
.country,.account,.cart,.order{
    font-weight: bolder;
}
.country{
    color: white;
}
.deliverto{
    color:#CCCCCC;
}
.logocontainer:hover{
    border: 1px solid white;
}
.directioncontainer:hover{
    border: 1px solid white;
}
.language:hover{
    border:1px solid white;
}
.login:hover{
    border: 1px solid white;
}
.return:hover{
    border: 1px solid white;
}
.cartcontainer:hover{
    border: 1px solid white;
}
.sectionbar{
    height: 50px;
    width: auto;
    background-color:#222f3e;
    display: flex;
    align-items: center;
}
.all{
    display: flex;
    align-items: center;
    gap:5px;
    margin-left: 15px;
    padding: 11px 10px 11px 0px ;
    border: 1px solid transparent;
    border-radius: 3px;
}
.all span{
    color: white;
}
.menubar{
    margin-left: 10px;
}
.menusection a {
    text-decoration: none;
    color: white;
    margin-left:20px;
    padding:14px 5px 14px 5px  ;
    border: 1px solid transparent;
    border-radius: 3px;
}
.menusection a:last-child{
    padding: 14px;
}
.all:hover {
    border: 1px solid white;
    border-radius: 3px;
}
.menusection a:hover {
    border: 1px solid white;
    border-radius: 3px;
}
.banner img{
    height: 100%;
    width: 100%;
}
.headingcontainer{
    display: flex;
    justify-content: center;
}
.heading{
    background-color: white;
    position:absolute;
    top: 400px;
    padding: 13px 192px 13px 192px ;
    font-size:18px;
}
.heading a{
    text-decoration: none;
    color:#007185;
    font-size: 18px;
}
.imgcontainer1{
    height:400px;
    /* background-color: rgba(222, 233, 233, 0.529); */
    position:absolute;
    width:98%;
    top:450px;
    margin:14px;
    display:flex;
    justify-content: space-evenly;
}  
.imgbox1{
    height:420px;
    width:341px;
    background-color: white;
}
.imgcontainer2{
    height: 400px;
    width: 98%;
    display: flex;
    margin: 14px;
    justify-content: space-evenly;
}
.imgbox2{
    height: 420px;
    width: 341px;
    background-color: white;
    margin-top:195px;
}
.item1{
    display: flex;
    flex-direction: column;
    /* gap: 15px;    */
}
.productheading h2{
    padding:0px 0px 0px 20px  ;
}
.item1 img{
    height: 290px;
    width: 300px;
    margin-top: 10px;
}
.productimg{
    padding:0px 20px 0px 20px ;
} 
.shoplink a{
    text-decoration: none;
    color:#007185;
    padding:0px 0px 0px 20px ;
}
.shoplink1 a{
    text-decoration: none;
    color: #007185;
    padding: 0px 0px 0px 10px;
}
.shoplink1 a:hover{
    color: red;
}
.shoplink a:hover{
    color: red;
}
.item2{
    justify-content: center;
}
.productheading h2{
    margin-top: 30px;
}
.gamingproduct1{
    display: flex;
    margin-top: 40px;
}
.gamingproduct2{
    display: flex;
    margin-top:10px;
}
.productphoto img{
    height:105px;
}
.gamingproduct1 span{
    margin: 40px;
    gap: 20px;
}
.gamingproduct2 span{
    margin: 30px;
    gap: 20px;
}
#link{
    margin-top: 20px;
    margin-left: 10px;
}
.productphoto1 img{
    height: 120px;
    width: 120px;
}
.homeaccesories1{
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}
.homeaccesories2{
    display: flex;
    margin-left: 20px;
    margin-top:10px;
}
.imgnine{
    margin-left:40px;
}
.pdescription{
    margin-left:40px;
}
#link1{
    margin-top:14px;
}
.fashionbox1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 14px;
}

.fashionphoto1 img{
    height: 120px;
    width: 120px;
}
.fashionphoto2 img{
    height: 120px;
    width: 120px;
}
.fashionbox2{
   display: flex;
   margin-left:32px;
   margin-top:11px;
}
#link2{
    margin-top: 13px;
    margin-left: 12px;
}
.gadgetstore1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gadgetimg1 img{
    height: 145px;
    width: 300px;
    margin-top:12px;
}
.gadgettext{
    margin-left: -220px;
}
.gadgetimage img{
    height: 90px;
    width: 95px;
}
.gadgetstore2{
    display: flex;
    justify-content: center;
    gap:8px;
    margin-top: 10px;
}
#gadgetlink{
    margin-top:20px;
}
.toys img{
    height:280px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
}
#toyslink{
    margin-top:30px;
}
.decorimg img{
    height:280px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
}
.beautysteal img{
    height:280px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
}
.imgcontainer3{
    height: 330px;
    width:auto;
    background-color: white;
    margin:240px 22px 0px 22px;
}
.imgcontainer3 h2{
    padding-top: 30px;
    padding-left:30px;   
}
.cellcontainer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.imgbox3 img{
    height:240px;
    width: 200px;
    margin-top: 20px;
}
.imgcontainer4{
    height: 330px;
    width:auto;
    background-color: white;
    margin:30px 22px 0px 22px;
}
.imgcontainer4 h2{
    padding-top: 30px;
    padding-left:30px;   
}
.imgbox4 img{
    height:240px;
    width: 200px;
    margin-top: 20px;
}
.imgcontainer5{
    height: 250px;
    background-color: white;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.signup{
    height: 170px;
    width: 1600px;
    border: 1px solid #e6e6e6;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:20px;
    gap:5px;
}
.signdiv button{
    font-weight: bolder;
    padding: 8px 140px 8px 140px ;
    background-color:#ffc941;
    border:none;
    border-radius:5px;
}
.signdiv a{
    text-decoration: none;
    color: #007185;
}
.signdiv a:hover{
    color: red;
}